.range_wrapper {
  min-height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.storage_range,
.transfer_range {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 1em;
  font-weight: 500;
}

@media (max-width: 540px) {
  .storage_range,
  .transfer_range {
    font-size: 0.7em;
  }
}
