.App {
  background-color: rgb(197, 234, 191);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  color: rgb(59, 15, 4);
  text-transform: uppercase;
}

h1 {
  color: rgb(191, 94, 70);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
